<header>
    <div class="page-container">
        <div class="logo"></div>
        <nav>
            <a>Home</a>
            <a>
                <img class="avatar" src="/images/avatar.jpg" />
                cs3b
            </a>
            <button class="chirp">Chirp</button>
        </nav>
    </div>
</header>


{{outlet}}

