<header>
    <div class="page-container">
        <div class="logo"></div>
        <nav>
            {{link-to "Home" "home"}}
            {{#link-to "user"}}
                <img class="avatar" src="/images/avatar.jpg" />
                cs3b
            {{/link-to}}
            <button class="chirp">Chirp</button>
        </nav>
    </div>
</header>


{{liquid-outlet}}

